<!DOCTYPE html>
<html>
<head>
<title><%= title %> </title>
</head>
<body>
    <h1>Links</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <p>Welcome to my Page <%= name %></p>

</body>
</html>